@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>Contact via E-mail:</strong> <a href="https://mail.google.com/">gerity27@gmail.com</a><br />

</address>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $(function () {

        $('#panel2').hide(300).show(1000);

    });
</script>
